{% extends 'base.html' %}

{% block content %}
<h2>Registered Users</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Public ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Date Joined</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.public_id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.date_joined|date:"Y-m-d H:i" }}</td>
            <td>
            <a href="{% url 'user_edit' user.id %}">Edit</a> |
            <a href="{% url 'user_delete' user.id %}">Delete</a>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if page_obj.has_other_pages %}
        <ul class="pagination-list">
            {% if page_obj.has_previous %}
                <li><a href="?page=1">&laquo; First</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>
{% endblock %}
